body {
    display: flex;
    flex-direction: column;
    font-family: sans-serif;
    margin: 0;
    height: 100vh;
}

header {
    height: 50px;
    margin: 5px;
}

main {
    display: block;
    flex: 1;
    position: relative;
}

#grid {
    height: 100%;
    position: absolute;
}
